<h1 class="text-center m-4">
  <%= link_to @contest.title, "https://atcoder.jp/contests/#{@contest.id}/standings" %>
</h1>

<h3 class="text-center m-4">
  <%= link_to @circle.circle_name, @circle %>内の順位表
</h3>

<table class="table-sm table-bordered table-striped th-center tables-hover-rows" style="width: 80%; margin: 0 auto;">
  <thead>
    <tr>
      <th></th>
      <th>順位</th>
      <th>ユーザ</th>
      <th>得点</th>
      <% @tasks.each do |task| %>
        <th><%= task.heading %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% rank = 0 %>
    <% @standings.order(:rank).each do |standing| %>
      <% user = standing.user %>
      <% if @circle.users.include?(user) %>
        <tr>
          <td><%= rank+=1 %></td>
          <td><%= standing.rank %></td>
          <td class=<%="user-#{color(user)}"%>>
            <%= link_to user.user_name, "https://atcoder.jp/users/#{user.user_name}", class: "user-#{color(user)}" %>
            <%= link_to "https://atcoder.jp/contests/#{@contest.id}/submissions?f.User=#{user.user_name}" do %>
              <i class="fas fa-search" style="color: black;"></i>
            <% end %>
          </td>
          <td>
            <span style="color: blue;"><%= standing.final_score %></span>
            <span style="color: gray;"><%= standing.final_time %></span>
            <% if standing.final_penalty %>
              <span style="color: red;">(<%= standing.final_penalty %>)</span>
            <% end %>
          </td>
          <% standing.submissions.order(:id).each do |submission| %>
            <td>
              <% if submission.score&.positive? %>
                <span style="color: green;"><%= submission.score %></span>
              <% end %>
              <span style="color: gray;"><%= submission.time %></span>
              <% if submission.penalty&.positive? %>
                <span style="color: red;">(<%= submission.penalty %>)</span>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
