<h1 class="text-center m-4">
  <%= @circle.circle_name %>
</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#tab1" class="nav-link active" data-toggle="tab">名簿</a>
  </li>
  <li class="nav-item">
    <a href="#tab2" class="nav-link" data-toggle="tab">コンテスト</a>
  </li>
  <li class="nav-item">
    <a href="#tab3" class="nav-link" data-toggle="tab">バーチャルコンテスト</a>
  </li>
</ul>

<div class="tab-content">
  <div id="tab1" class="tab-pane active tab-box">
    <h3 class="text-center">
      <%= @circle.users.count %>名
    </h3>
    <% if @edible %>
      <%= form_with model: @circle.circle_users.build, class: 'row justify-content-center' do |f| %>
        <div class="form-group form-inline">
          <%= f.text_field :user_name, class: 'form-control' %>
          <%= f.hidden_field :circle_id, value: @circle.id %>
          <%= f.submit '追加', class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
    <%= high_chart("graph", @chart) %>
    <table class="table-sm table-bordered table-striped th-center tables-hover-rows" style="width: 80%; margin: 0 auto;">
      <thead>
        <tr>
          <th>順位</th>
          <th>ユーザ</th>
          <th>Rating</th>
          <th>最高値</th>
          <%= '<th>削除</th>' if @edible %>
        </tr>
      </thead>
      <tbody>
        <% @circle.users.order(rating: :DESC).each.with_index(1) do |user, i| %>
          <tr>
            <td><%= i %></td>
            <td><%= link_to user.user_name, "https://atcoder.jp/users/#{user.user_name}", class: "user-#{color(user)}" %></td>
            <td><%= user.rating %></td>
            <td><%= user.highest %></td>
            <% if @edible %>
              <td>
                <%= link_to circle_user_path(id: @circle.id, user_id: user), method: :delete do %>
                  <i class="fas fa-minus-circle" style="color: red;"></i>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="tab2" class="tab-pane tab-box">
    <div class="list-group">
      <a href="/contests/abc125?circle_name=UtCoder"　target="_blank" class="list-group-item">
        AtCoderBeginnerContest125
      </a>
    </div>
  </div>
  <div id="tab3" class="tab-pane tab-box">
    <div class="list-group">
      <% @virtual_contests.order(id: :DESC).each do |virtual_contest| %>
        <a href="<%= virtual_contest.url %>"　target="_blank" class="list-group-item">
          <%= virtual_contest.title %>
        </a>
      <% end %>
    </div>
  </div>
</div>
