<h1 class="text-center m-4">
  <%= @circle.circle_name %>
</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#tab1" class="nav-link active" data-toggle="tab">名簿</a>
  </li>
  <li class="nav-item">
    <a href="#tab2" class="nav-link" data-toggle="tab">バーチャルコンテスト</a>
  </li>
  <% if @edible %>
    <li class="nav-item">
      <a href="#tab3" class="nav-link" data-toggle="tab">サークル情報編集</a>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <div id="tab1" class="tab-pane active tab-box">
    <h3 class="text-center">
      <%= @circle.users.count %>名
    </h3>
    <%= high_chart("graph", @chart) %>
    <% if @edible %>
      <%= form_with model: @circle.circle_users.build, class: 'row justify-content-center' do |f| %>
        <div class="form-group form-inline">
          <%= f.text_field :user_name, placeholder: "ユーザー名", class: 'form-control' %>
          <%= f.hidden_field :circle_id, value: @circle.id %>
          <%= f.submit '追加', class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
    <table class="table-sm table-bordered table-striped th-center tables-hover-rows" style="width: 80%; margin: 0 auto;">
      <thead>
        <tr>
          <th>順位</th>
          <th>ユーザ</th>
          <th>Rating</th>
          <th>最高値</th>
          <th>選択</th>
          <% if @edible %>
            <th>削除</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @users.each.with_index(1) do |user, i| %>
          <tr>
            <td><%= i %></td>
            <td>
              <%= link_to user.user_name, "https://atcoder.jp/users/#{user.user_name}", class: "user-#{color(user)}" %>
              <%= link_to "https://kenkoooo.com/atcoder/#/user/#{user.user_name}" do %>
                <i class="fas fa-search" style="color: black;"></i>
              <% end %>
            </td>
            <% if user.rating.present? && user.highest.present? %>
              <td><%= user.rating %></td>
              <td><%= user.highest %></td>
            <% else %>
              <td>次の更新を</td>
              <td>お待ち下さい</td>
            <% end %>
            <td><input type="checkbox" name="selected[]" value= <%= user.user_name %> </td>
            <% if @edible %>
              <td>
                <%= link_to circle_user_path(id: @circle.id, user_id: user), method: :delete do %>
                  <i class="fas fa-minus-circle" style="color: red;"></i>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="list-inline">
      <a href=# target="_blank" id="problems" class="list-inline-item btn disabled">AtCoder Problems(1人~2人)</a>
      <a href=# target="_blank" id="scores" class="list-inline-item btn disabled">AtCoder Scores(1人~)</a>
      <a href=# target="_blank" id="graphs" class="list-inline-item btn disabled">精進グラフ(1人~)</a>
      <a href=# target="_blank" id="performances" class="list-inline-item btn disabled">AtCoder Performances(1~5人)</a>
      <a href=# target="_blank" id="janken" class="list-inline-item btn disabled">AtCoderじゃんけん(2人)</a>
    </div>
  </div>
  <div id="tab2" class="tab-pane tab-box">
    <% if @edible %>
      <%= form_with model: @circle.virtual_contests.build, class: 'row justify-content-center' do |f| %>
        <div class="form-group form-inline">
          <%= f.text_field :title, placeholder: "コンテスト名", class: 'form-control' %>
          <%= f.text_field :url, placeholder: "URL", class: 'form-control' %>
          <%= f.hidden_field :circle_id, value: @circle.id %>
          <%= f.submit '追加', class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
    <div class="list-group">
      <% @virtual_contests.order(id: :DESC).each do |virtual_contest| %>
        <div class="list-inline list-group-item">
          <a href="<%= virtual_contest.url %>" target="_blank" class="list-inline-item">
            <%= virtual_contest.title %>
          </a>
          <% if @edible %>
            <%= link_to virtual_contest_path(id: @circle.id, virtual_contest_id: virtual_contest), method: :delete, class: "list-inline-item" do %>
              <i class="fas fa-minus-circle" style="color: red;"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if @edible %>
    <div id="tab3" class="tab-pane tab-box">
      <%= form_with model: @circle, class: 'row justify-content-center' do |f| %>
        <div class="form-group">
          <%= f.label '新規サークル名', class: "form-control-label" %>
          <%= f.text_field :circle_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label '新規パスワード', class: "form-control-label" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="form-check text-center">
          <%= f.check_box :private, class: "form-control-label" %>
          <%= f.label '非公開にする', class: "form-control-label" %>
        <div>
        <div class="form-group field text-center">
          <%= f.submit '変更', class: "btn btn-success" %>
        </div>
      <% end %>
      <%= link_to '削除', circle_path(@circle), method: :delete, data: { confirm: '削除しますか？(この操作は取り消せません)' }, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>

<script>
$(function() {
  $('input[name="selected[]"]').change(function() {
    let selected = [];
    $('input[name="selected[]"]:checked').each(function() {
      selected.push($(this).val());
    });
    if(selected.length>=1){
      var scores_url = "https://atcoder-scores.herokuapp.com/?rivals=" + selected.join(",")
      $('#scores').removeClass('disabled')
      $('#scores').attr("href", scores_url)
      var graphs_url = "https://atcoder-scores.herokuapp.com/graph?user=" + selected.join(",")
      $('#graphs').removeClass('disabled')
      $('#graphs').attr("href", graphs_url)
    }else{
      $('#scores').addClass('disabled')
      $('#graphs').addClass('disabled')
    }
    if(selected.length>=1 && selected.length<=2){
      var problems_url = "https://kenkoooo.com/atcoder/#/table/" + selected[0] + "/" + selected[1]
      $('#problems').removeClass('disabled')
      $('#problems').attr("href", problems_url)
    }else{
      $('#problems').addClass('disabled')
    }
    if(selected.length>=1 && selected.length<=5){
      var performances_url = "https://atcoderapps.herokuapp.com/atcoderperformances/show_graph/?username=" + selected[0] + "&rivalname=" + selected.slice(1).join(",")
      $('#performances').removeClass('disabled')
      $('#performances').attr("href", performances_url)
    }else{
      $('#performances').addClass('disabled')
    }
    if(selected.length==2){
      var janken_url = "https://atcoder-janken.appspot.com/?id1=" + selected[0] + "&id2=" + selected[1]
      $('#janken').removeClass('disabled')
      $('#janken').attr("href", janken_url)
    }else{
      $('#janken').addClass('disabled')
    }
  });
});
</script>