<!DOCTYPE html>
<html>
  <head>
    <title>AtCoderCircles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>

  <body>
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">AtCoderCircles</span>
    <% if signed_in? %>
      <span class="navbar-brand mb-0 h1"><%= current_circle.circle_name %>としてログイン中</span>
      <%= link_to 'ログアウト', logout_path, method: :delete, class:"btn btn btn-success my-2 my-sm-0"  %>
    <% else %>
      <%= form_with url: login_path, local: true, class: "form-inline my-2 my-lg-0" do |f| %>
        <%= f.text_field :circle_name, placeholder: "サークル名", class: "form-control" %>
        <%= f.password_field :password, placeholder: "パスワード", autocomplete: "off" ,class: "form-control" %>
        <%= f.submit "ログイン" , class: "btn btn-success my-2 my-sm-0" %>
      <% end %>
      <%= link_to "新規サークル作成", new_circle_path, class: "btn btn-info my-2 my-sm-0" %>
    <% end %>
  </nav>
    <div class="container">
      <div class="contents">
        <% flash.each do |type, msg| %>
          <div class="alert <%= bootstrap_class_for_flash(type) %> alert-dismissable fade show">
            <%= msg %>
            <button class="close" data-dismiss="alert">x</button>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
